.game-header {
  display: flex;
  align-items: center;
  padding: 3rem;
  background-color: black;
  color: #fff;
  margin: 0 0 3rem 0;
}

.game-maker-info {
  > h1 {
    font-size: 5.25rem;
  }
}

.test-game-button {
  margin-left: auto;
  font-size: 1.25rem;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  p {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.created-by {
  display: block;
}

.game-info {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  h2 {
    margin: 0 0 0.2rem 0;
  }
}

.playtest-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.playtest {
  font-size: 1.2rem;
  width: 32%;
  margin: 0 2% 2% 0;;
  background-color: #000;
  color: #fff;
  height: 200px;
  padding: 1em;
  border-radius: 3px;

  &:nth-child(3) {
    margin: 0;
  }

  > h4 {
    margin-top: 10px;
  }
}

.status-tag {
  background-color: #fff;
  color: #000;
  padding: 5px;
}

.game-forum {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.game-forum-container {
}
.chat {
  width: 48%;
  margin-top: 1.25rem;
  clear: both;
  float: left;
  &:first-child {
    margin-top: 0;
  }
  &.new {
    float: right;
  }
}

.chat-info {
  font-size: 0.8rem;
}

.chat-time {
  color: #999;
  font-weight: 400;
}

.chat-message {
  font-size: 1rem;
  font-weight: 400;
}

// #chat-box {
//   width: 100%;
//   border: 2px solid black;
//   font-family: inherit;
//   font-size: 1rem;
//   padding: 1rem;
//   font-weight: bold;
// }

#chat-box {
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.event-date-container {
  text-align: center;
  margin-right: 1.5rem;
  line-height: 1;
  background: white;
  color: black;
  padding: 1rem;
}

.event-list {
  list-style: none;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  margin-left: 0;
  background: black;
  color: white;
  border: 2px solid black;
  &:last-child {
    margin-bottom: 0;
  }
}

.event-day, .event-month {
  font-size: 1rem;
}

.event-date {
  display: block;
  font-size: 1.5rem;
}

.event-info {
  p {
    margin: 0;
    font-size: 1.3rem;
  }
  .event-city {
    font-size: 1rem;
  }
}
