.site-header {
  margin: 0;
}

.user-header {
  text-align: center;
  margin-top: -100px;
}

.user-description {
  font-weight: normal;
  margin-bottom: 2em;
}

.user-section {
  text-align: center;
  margin-bottom: 2em;

  > p {
    font-weight: normal;
    margin: 0 0 0.2em 0;
  }
}

.user-trophies {
  margin-bottom: 4em;
}

.trophy {
  width: 10%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.locked {
  opacity: 0.3;
}

.underline {
  border-bottom: 1px solid black;
}

.center {
  margin-bottom: 2em;
}

.user-avatar {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 25%;
  height: auto;
  margin: 0 auto;
}

.avatar-img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background: #f0f0f0;
  width: 100%;
  margin-bottom: 1em;
  border: 5px solid white;
}

.background {
  width: 100%;

  img {
    max-width: 100%;
  }
}

.super-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  background: rgba(white, 0.9);
  pointer-events: none;
  > div {
    width: 100%;
  }
  &.show {
    transform: scale(1);
    animation: go-big 1s;
  }
}
@keyframes go-big {
  90% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
