* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  letter-spacing: -1px;
}
.center {
  text-align: center;
}
p {
  margin: 0 0 1rem 0;
}
p a {
  border-bottom: 2px solid black;
}

.page-wrap {
  max-width: 800px;
  margin: 0 auto;
}
.page-header {
  font-size: 2.5rem;
  padding: 3rem 0;
}

.link-button {
  color: black;
  border-bottom: 2px solid black;
}
.button {
  background: black;
  color: white;
  padding: 0.75rem 2rem;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.5rem;
  border: 0;
  display: inline-block;
  > span {
    display: block;
    font-size: 70%;
    margin: 0.3rem 0;
  }
  &:hover,
  &:focus,
  &.in {
    background: white;
    color: black;
    box-shadow: 0 0 0 5px black;
  }
}

.site-header {
  border-bottom: 5px solid black;
  padding: 2rem 0;
  margin: 0 0 5rem 0;
  > h1 {
    font-size: 4rem;
    margin: 0 0 0.5rem 0;
  }
  &.chill-header {
    padding: 10px 0 5px;
    > h1 {
      font-size: 1.5rem;
    }
  }
}
.subtitle {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.game-list {
  list-style: none;
  padding: 50px 0;
}

.game {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
.about-game {
  margin: 0 0 1rem 0;
  flex: 1;
  > p {
    margin: 0 0 1rem 0;
  }
}

.game-classification {
  width: 250px;
  height: 250px;
  background: black;
  margin-right: 30px;
  padding: 10px;
  > img {
    float: left;
    width: 33.33%;
    opacity: 0.3;
  }
  &.driving {
    img[src*="-driving"] {
      opacity: 1;
    }
  }
  &.hiddenobject {
    img[src*="-hiddenobject"] {
      opacity: 1;
    }
  }
  &.match3 {
    img[src*="-match3"] {
      opacity: 1;
    }
  }
  &.multiplayer {
    img[src*="-multiplayer"] {
      opacity: 1;
    }
  }
  &.realtime {
    img[src*="-realtime"] {
      opacity: 1;
    }
  }
  &.rpg {
    img[src*="-rpg"] {
      opacity: 1;
    }
  }
  &.shooter {
    img[src*="-shooter"] {
      opacity: 1;
    }
  }
  &.strategy {
    img[src*="-strategy"] {
      opacity: 1;
    }
  }
  &.turnbased {
    img[src*="-turnbased"] {
      opacity: 1;
    }
  }
}

.currently-playing {
  font-size: 1rem;
  margin: 2rem 0 0 0;
}
.avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: black;
  vertical-align: middle;
}

.super-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  background: rgba(white, 0.9);
  pointer-events: none;
  > div {
    width: 100%;
  }
  &.show {
    transform: scale(1);
    animation: go-big 1s;
  }
}
@keyframes go-big {
  90% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.site-footer {
  background: black;
  color: white;
  padding: 3rem 0;
  text-align: center;
}
