<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title><%= current_page.data.title || "I Want In." %></title>

  <%= stylesheet_link_tag "style" %>

</head>

<body class="<%= page_classes %>">

  <div class="page-wrap">

    <%= yield %>

    <footer class="site-footer">
      Prototype by Team Printer's Row at SNDMakes Chicago 2016.
    </footer>

  </div>

</body>

</html>
