---
title: I Want In.
layout: dashboard
---

<header class="dashboard-header">
  <h1>RoadKill</h1>
  <div class="dashboard-subtitle">Gamemaker Dashboard</div>
</header>

<div class="module">

  <h2>Playtesters in Approval Queue</h2>

  <ul class="playtesters">
    <li>
      <a href="/profile/">Jimmy Twoshoes</a>
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      <a href="/profile/">Samantha Supersauce</a>
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      <a href="/profile/">Chris Crayola</a>
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Current Playtesters</h2>

  <ul class="playtesters">
    <li>
      <a href="/profile/">Marie Megawhop</a>
      <div class="actions">
        <a href="#0" class="button button-mini">Direct Message</a>
        <a href="#0" class="button button-mini">Award Trophy</a>
      </div>
    </li>
    <li>
      <a href="/profile/">Sanders Salamander</a>
      <div class="actions">
        <a href="#0" class="button button-mini">Direct Message</a>
        <a href="#0" class="button button-mini">Award Trophy</a>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Playtester Results</h2>

  <div class="tabs">

    <ul>
      <li><a href="#0">Phase 1</a></li>
    </ul>

  </div>

  <ul class="result-list">

    <li>
      <div class="video">
        <img src="/images/icons/icon-play.svg" alt="">
      </div>

      <div class="feedback">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum iure soluta maxime, debitis quisquam error est et sunt qui dolore! Ut quia vero molestias, itaque, quam qui cum voluptatibus.
      </div>

      <div class="playtester-meta">
        <div class="avatar"></div>
        Sally Smith on 5/16/16
      </div>
    </li>

    <li>
      <div class="video">
        <img src="/images/icons/icon-play.svg" alt="">
      </div>

      <div class="feedback">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum iure soluta maxime, debitis quisquam error est et sunt qui dolore! Ut quia vero molestias, itaque, quam qui cum voluptatibus.
      </div>

      <div class="playtester-meta">
        <div class="avatar"></div>
        Sally Smith on 5/16/16
      </div>
    </li>

  </ul>

</div>

<div class="module">

  <h2>Public Forum</h2>

  <div class="game-forum-container">
    <div class="game-forum">
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@allyson <span class="chat-time">2/6/16, 15:43 pm</span></span>
        </div>
        <span class="chat-message">I've tested this game with friends and it went down well at a meetup over the weekend. Now it needs to be tested without me there,and feedback on the clarity of the rules would be much appreciated.</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@ssmith <span class="chat-time">2/6/16, 19:07 pm</span></span>
        </div>
        <span class="chat-message">Unique theme and semi unique combat system. (For some reason I like the chase mechanic).</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@megawhop <span class="chat-time">2/6/16, 22:26 pm</span></span>
        </div>
        <span class="chat-message">i'm interested to see a sample of those future card designs</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@crayola <span class="chat-time">2/7/16, 1:18 <a href="#"></a>am</span></span>
        </div>
        <span class="chat-message">how is it more fast paced than the 'tabletop games' if the rules are emphasizing depth (so are probably more complex) and "using most common wargame rules to command units"? </span>
      </div>
      <div class="clearfix"></div>
    </div>
    <textarea class="game-forum" id="chat-box" placeholder="enter message"></textarea>
  </div>
</div>
