---
title: I Want In.
layout: dashboard
---

<header class="dashboard-header">
  <h1>RoadKill</h1>
  <div class="dashboard-subtitle">Dashboard</div>
</header>

<div class="module">

  <h2>Playtesters in Approval Queue</h2>

  <ul class="players-in-queue">
    <li>
      Jimmy Twoshoes
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      Samantha Supersauce
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      Chris Crayloa
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Current Playtesters</h2>

</div>
