---
title: I Want In.
layout: dashboard
---

<header class="dashboard-header">
  <h1>RoadKill</h1>
  <div class="dashboard-subtitle">Dashboard</div>
</header>

<div class="module">

  <h2>Playtesters in Approval Queue</h2>

  <ul class="playtesters">
    <li>
      Jimmy Twoshoes
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      Samantha Supersauce
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
    <li>
      Chris Crayloa
      <div class="actions">
        <a href="#0" class="button button-mini">Approve</a>
        <a href="#0" class="button button-mini">Decline</a>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Current Playtesters</h2>

  <ul class="playtesters">
    <li>
      Marie Megawhop
      <div class="actions">
        <a href="#0" class="button button-mini">Direct Message</a>
      </div>
    </li>
    <li>
      Sanders Salamander
      <div class="actions">
        <a href="#0" class="button button-mini">Direct Message</a>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Playtester Results</h2>

  <ul class="result-list">

    <li>

      <div class="video">
        <img src="/images/icons/icon-play.svg" alt="">
      </div>

      <div class="feedback">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum iure soluta maxime, debitis quisquam error est et sunt qui dolore! Ut quia vero molestias, itaque, quam qui cum voluptatibus.
      </div>

      <div class="playtester-meta">
        <div class="avatar"></div>
        Sally Smith on 5/16/16
      </div>

    </li>

  </ul>

</div>

<div class="module">

  <h2>Public Forum</h2>

  <p>Forum stuff going on</p>

</div>
