---
title: Playtesting
layout: game
---

<header class="game-header">

  <a href="#0" class="button button-light">
    Test This Game
  </a>

  <h1>RadCastle</h1>
  <div>
    Created by:
    <div class="avatar avatar-light"></div>
    <div class="avatar avatar-light"></div>
    <div class="avatar avatar-light"></div>
  </div>

</header>

  <div class="module">

    <h2>The Playtesting Team</h2>

    <ul class="playtesters">
      <li>
        Jimmy Twoshoes
        <div class="actions">
        </div>
      </li>
      <li>
        Samantha Supersauce
        <div class="actions">
        </div>
      </li>
      <li>
        Chris Crayloa
        <div class="actions">
        </div>
      </li>
    </ul>

  </div>

  <div class="module">

    <h2>Testing Rounds</h2>

    <div class="playtest-container">
      <div class="playtest">
        <span class="status-tag">Active</span>
        <h4>Testing: Narrative</h4>
      </div>
      <div class="playtest">
        <span class="status-tag">Completed</span>
        <h4>Testing: Mechanics</h4>
      </div>
      <div class="playtest">
        <span class="status-tag">Active</span>
        <h4>Testing: Controls</h4>
      </div>
      <div class="playtest">
        <span class="status-tag">Completed</span>
        <h4>Testing: Level 1</h4>
      </div>
      <div class="playtest">
        <span class="status-tag">Active</span>
        <h4>Testing: Level 4</h4>
      </div>
    </div>

  </div>

    <h2>Upcoming Events</h2>
    <div class="game-info-section">
      <p>
        Test
      </p>
    </div>

    <div class="game-forum-container">
      <h2>Chat Room</h2>
      <div class="game-forum">
        <div class="chat">
          <div class="chat-info">
            <span class="chat-info">@allyson <span class="chat-time">2/6/16, 15:43 pm</span></span>
          </div>
          <span class="chat-message">Donec ut ultricies ex. Donec non rutrum nulla.</span>
        </div>
        <div class="chat">
          <div class="chat-info">
            <span class="chat-info">@tacolover <span class="chat-time">2/6/16, 19:07 pm</span></span>
          </div>
          <span class="chat-message">Donec ut ultricies ex. Donec non rutrum nulla.</span>
        </div>
        <div class="chat">
          <div class="chat-info">
            <span class="chat-info">@allyson <span class="chat-time">2/6/16, 22:26 pm</span></span>
          </div>
          <span class="chat-message">Donec ut ultricies ex. Donec non rutrum nulla.</span>
        </div>
        <div class="chat">
          <div class="chat-info">
            <span class="chat-info">@tacolover <span class="chat-time">2/7/16, 1:18 <a href="#"></a>m</span></span>
          </div>
          <span class="chat-message">Donec ut ultricies ex. Donec non rutrum nulla.</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <textarea class="game-forum" id="chat-box">enter text</textarea>
    </div>
  </div>
