---
title: I Want In.
layout: game
---

<header class="game-header">

  <div class="game-maker-info">

    <div class="game-types">
      <img src="/images/icons/icon-hiddenobject.svg" alt="">
      <img src="/images/icons/icon-rpg.svg" alt="">
      <img src="/images/icons/icon-strategy.svg" alt="">
    </div>

    <h1>RadCastle</h1>

    <div class="created-by">
      Created by:
      <div class="avatar avatar-light"></div>
      <div class="avatar avatar-light"></div>
      <div class="avatar avatar-light"></div>
    </div>
  </div>

  <a href="#0" class="button button-light test-game-button">
    Test This Game
  </a>

</header>

<div class="module">

  <h2>The Playtesting Team</h2>

  <ul class="playtesters">
    <li>
      <a href="/profile/">Jimmy Twoshoes</a>
      <div class="actions">
      </div>
    </li>
    <li>
      <a href="/profile/">Samantha Supersauce</a>
      <div class="actions">
      </div>
    </li>
    <li>
      <a href="/profile/">Chris Crayola</a>
      <div class="actions">
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Testing Rounds</h2>

  <div class="playtest-container">
    <div class="playtest">
      <span class="status-tag">Active</span>
      <h4>Testing: Narrative</h4>
    </div>
    <div class="playtest">
      <span class="status-tag">Completed</span>
      <h4>Testing: Mechanics</h4>
    </div>
    <div class="playtest">
      <span class="status-tag">Active</span>
      <h4>Testing: Controls</h4>
    </div>
    <div class="playtest">
      <span class="status-tag">Completed</span>
      <h4>Testing: Level 1</h4>
    </div>
    <div class="playtest">
      <span class="status-tag">Active</span>
      <h4>Testing: Level 4</h4>
    </div>
  </div>

</div>

<div class="module">

  <h2>Upcoming Events</h2>

   <ul class="event-list">
     <li class="event">
       <div class="event-date-container">
         <span class="event-day">FRI</span>
         <span class="event-date">19</span>
         <span class="event-month">FEB</span>
       </div>
       <div class="event-info">
         <p>Game Night</p>
         <span class="event-city">Chicago</span>
       </div>
     </li>
     <li class="event">
       <div class="event-date-container">
         <span class="event-day">FRI</span>
         <span class="event-date">26</span>
         <span class="event-month">FEB</span>
       </div>
       <div class="event-info">
         <p>Game Night</p>
         <span class="event-city">Milwaukee</span>
       </div>
     </li>
     <li class="event">
       <div class="event-date-container">
         <span class="event-day">WED</span>
         <span class="event-date">2</span>
         <span class="event-month">MAR</span>
       </div>
       <div class="event-info">
         <p>Game Night</p>
         <span class="event-city">Denver</span>
      </div>
    </li>
  </ul>

</div>

<div class="module">

  <h2>Chat Room</h2>

  <div class="game-forum-container">
    <div class="game-forum">
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@allyson <span class="chat-time">2/6/16, 15:43 pm</span></span>
        </div>
        <span class="chat-message">feedback is welcome, but apart from a couple minor planned changes, i'd like to test out the current rules in action before making any further changes.</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@tacolover <span class="chat-time">2/6/16, 19:07 pm</span></span>
        </div>
        <span class="chat-message">does the torch negate the sword's ability, or would the torch guarantee the discard of a creature via the sword? it wasn't super clear from the instructions...</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@allyson <span class="chat-time">2/6/16, 22:26 pm</span></span>
        </div>
        <span class="chat-message">working on a briefer version of the rules, will let you know when we put out the next testing round!</span>
      </div>
      <div class="chat">
        <div class="chat-info">
          <span class="chat-info">@tacolover <span class="chat-time">2/7/16, 1:18 <a href="#"></a>am</span></span>
        </div>
        <span class="chat-message">cool</span>
      </div>
      <div class="clearfix"></div>
    </div>
    <textarea class="game-forum" id="chat-box" placeholder="enter message"></textarea>
  </div>

</div>
