---
title: I Want In.
---

<header class="site-header">
  <h1>I Want In.</h1>
  <div class="subtitle">
    Connecting Game Makers and Playtesters.
  </div>
</header>

<ul class="game-list">

  <li class="game">

    <div class="game-classification">

    </div>

    <div class="about-game">

      <p>Allyson is looking for testers...</p>

      <a href="#0" class="link-button">Play it.</a>

      <div class="currently-playing">
        Currently Playing:
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
      </div>

    </div>

  </li>

</ul>
