---
title: I Want In.
layout: layout
---

<header class="site-header">
  <h1>
    <a href="/">I Want In.</a>
  </h1>
  <div class="subtitle">
    Connecting Gamemakers and Playtesters.
  </div>
  <div class="action-buttons">
    <a href="/post/" class="button">Post a Game<span>(as a Game Maker)</span></a>
    &emsp;
    <a href="/signup/" class="button">Sign Up<span>(as a Playtester)</span></a>
  </div>
</header>

<h1>Games In Testing</h1>

<ul class="game-list">

  <li class="a-game">

    <div class="game-classification realtime strategy">
      <%= partial "partials/all_icons" %>
    </div>

    <div class="about-game">

      <p>There's an opening for <a href="/game/">8</a> more <a href="/game/">casual</a> playtesters for the game <a href="/game/">Smurfy Halloween</a>.</p>

      <p><a href="#super-message" class="button want-in-button">I Want In.</a></p>

      <div class="currently-playing">
        Currently Playing:
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
      </div>

    </div>

  </li>

  <li class="a-game">

    <div class="game-classification rpg driving realtime">
      <%= partial "partials/all_icons" %>
    </div>

    <div class="about-game">

      <p>They need <a href="/game/">15</a> more <a href="/game/">experienced</a> playtesters for the <a href="/game/">Anonymous Charlie Six</a>.</p>

      <p><a href="#super-message" class="button want-in-button">I Want In.</a></p>

      <div class="currently-playing">
        Currently Playing:
        <div class="avatar"></div>
        <div class="avatar"></div>
      </div>

    </div>

  </li>

</ul>

<div class="super-message" id="super-message">
  <div>You're in the queue!</div>
</div>
