---
title: I Want In.
---

<header class="site-header">
  <h1>I Want In.</h1>
  <div class="subtitle">
    Connecting Game Makers and Playtesters.
  </div>
  <div class="action-buttons">
    <a href="/post/" class="button">Post a Game<span>(as a Game Maker)</span></a>
    &emsp;
    <a href="/signup/" class="button">Sign Up<span>(as a Playtester)</span></a>
  </div>
</header>

<h1>Games In Testing</h1>

<ul class="game-list">

  <li class="game">

    <div class="game-classification">

    </div>

    <div class="about-game">

      <p><a href="#0">Allyson Media</a> is looking for <a href="#0">8</a> more <a href="#0">casual</a> playtesters for the game <a href="#0">Smurfy Halloween</a>.</p>

      <p><a href="#0" class="link-button">I Want In.</a></p>

      <div class="currently-playing">
        Currently Playing:
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
      </div>

    </div>

  </li>

</ul>
