---
title: I want in.
layout: post
---

<header class="page-header">
  <h1>Post a New Game</h1>
</header>

<form action="#0" class="form-form">

  <div>
    <label for="">Name of Game</label>
    <input type="text">
  </div>

  <div>
    <label for="">Your Name</label>
    <input type="text">
  </div>

  <div>
    <label for="">Your Email</label>
    <input type="text">
  </div>

  <div>
    <h4>Type of Game</h4>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Match-3</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Hidden Object</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Asynchronous multiplayer</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Live multiplayer</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Shooter</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">RPGs</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Strategy</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">Driving</label>
    </div>
    <div>
      <input type="checkbox" name="name" value="">
      <label for="">RTS</label>
    </div>
  </div>

  <div>
    <label for="">How are you going to deliver the game?</label>
    <textarea></textarea>
  </div>

  <div>
    <label for="">Do you want to limit the age of playtesters? (Min/Max)</label>
    <input type="number">
    <input type="number">
  </div>

  <div>
    <label for="">Do you want to limit the gender of playtesters?</label>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Identify as male</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Identify as female</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Politely declined</label>
    </div>
  </div>

  <div>
    <label for="">Do you want to limit the experience of playtesters?</label>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Not a gamer</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Casual gamer</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Experienced gamer</label>
    </div>
  </div>

  <div class="form-note">
    At the end of testing, the playtesters are asked to submit a one-minute audio or video clip to submit to help you with playtesting.
  </div>

  <div>
    <label for="">What do you want to ask the playtester?</label>
    <textarea></textarea>
  </div>

  <div class="center">
    <input type="submit" value="Submit Game for Approval" class="button">
  </div>

</form>
