---
title: I Want In.
layout: profile
---

<div class="background">
  <img src="/images/background.png" />
</div>

<div class="user-header">
  <div class="user-avatar">
    <img src="/images/user.png" class="avatar-img" />
  </div>
  <h1>VR_Luver</h1>
  <p class="user-description">
    Avid gamer, focusing primarily on strategy and RPG.
  </p>
  <a href="#0" class="button" id="user-message-button">Message</a>
</div>

<div class="user-section">
  <h3>Currently Playtesting</h3>
  <p>
    Duck Duck Goose
  </p>
</div>

<div class="user-section">
  <h3>Previously Playtested</h3>
  <p>
    Red Rover
  </p>
  <p>
    Solitaire
  </p>
</div>

<div class="center">
  <a href="#super-message" class="button button-dark request-button">
    Request Playtester
  </a>
</div>

<div class="super-message" id="super-message">
  <div>Your request has been sent!</div>
</div>


<div class="messaging-popup">

  <h2>You and @VR_Luver    <span id="close-button">×</span></h2>

  <ul class="message-list">
    <li>
      <div class="avatar avatar-light"></div>
      <div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum perspiciatis et consequatur neque, praesentium, ab, nihil soluta deleniti dolorum libero cumque aspernatur, illo? Consequuntur cumque repudiandae, ullam, laborum earum enim.</div>
    </li>
    <li>
      <div class="avatar avatar-light"></div>
      <div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum perspiciatis et consequatur neque, praesentium, ab, nihil soluta deleniti dolorum libero cumque aspernatur, illo? Consequuntur cumque repudiandae, ullam, laborum earum enim.</div>
    </li>
    <li>
      <div class="avatar avatar-light"></div>
      <div class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum perspiciatis et consequatur neque, praesentium, ab, nihil soluta deleniti dolorum libero cumque aspernatur, illo? Consequuntur cumque repudiandae, ullam, laborum earum enim.</div>
    </li>
  </ul>

</div>
