---
title: I Want In.
layout: profile
---

<div class="user-header">
  <h1>VR_Luver</h1>
  <p class="user-description">
    Avid gamer, focusing primarily on strategy and RPG.
  </p>
</div>

<div class="user-section">
  <h3>Currently Playtesting</h3>
  <p>
    Duck Duck Goose
  </p>
</div>

<div class="user-section">
  <h3>Previously Playtesting</h3>
  <p>
    Red Rover
  </p>
  <p>
    Solitaire
  </p>
</div>

<a href="#0" class="button button-dark test-game-button">
  Request Playtester
</a>
