---
title: I Want In.
layout: signup
---

<header class="page-header">
  <h1>Playtester Signup</h1>
</header>

<form action="#0" class="form-form">

  <div>
    <label for="">Your Name</label>
    <input type="text">
  </div>

  <div>
    <label for="">Your Email</label>
    <input type="text">
  </div>

  <div>
    <label for="">A little bio, if you want</label>
    <textarea></textarea>
  </div>

  <div>
    <label for="">If you have any favorite games, list them here</label>
    <textarea></textarea>
  </div>

  <div class="form-note">
    <p>Gamemakers sometimes like to work with playtesters of certain demographics, because the games are designed to be for certain demographics.</p>
    <p>All of the following is optional.</p>
  </div>

  <div>
    <label for="">How old are you?</label>
    <input type="number">
  </div>

  <div>
    <label for="">What's your self-applied current gaming experience level?</label>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Not a gamer</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Casual gamer</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Experienced gamer</label>
    </div>
  </div>

  <div>
    <label for="">What's your gender?</label>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Identify as male</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Identify as female</label>
    </div>
    <div>
      <input type="radio" name="exp-level">
      <label for="">Fuck you and your gender normative bullshit</label>
    </div>
  </div>

  <div class="center">
    <input type="submit" value="I'm ready to get in on games!" class="button">
  </div>

</form>
